root = true

[*.{c,h,cpp,ino}]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
cpp_new_line_before_else = false
cpp_new_line_before_catch = false
cpp_new_line_scope_braces_on_separate_lines = false
cpp_new_line_close_brace_same_line_empty_type = true
cpp_new_line_before_open_brace_block = same_line
cpp_new_line_before_open_brace_type = same_line
cpp_new_line_before_open_brace_function = same_line
cpp_new_line_before_open_brace_namespace = same_line
cpp_new_line_before_open_brace_lambda = same_line

[**.{md,adoc}]
indent_style = space
trim_trailing_whitespace = unset
insert_final_newline = unset

[platformio.ini]
indent_style = tab

[troubleshooting/platformio.ini]
indent_style = tab

[troubleshooting/platformio_src/gaggiuino-debug.ino]
end_of_line = crlf

[troubleshooting/gaggiuino-debug.ino]
end_of_line = crlf
