.App-logo {
  height: 40px;
  pointer-events: none;
}

.Inline-Icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(12px);
  color: white;
  padding: 0.5vh;
}

.App-header .App-logo {
  float: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
