.NetworkList .NetworkItem header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
}

.NetworkList .NetworkItem {
    margin: 8px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff1ee;
    padding: 8px;
}

.NetworkList .NetworkItem .Content {
    max-height: 0px;
    padding-top: 0px;

    max-width: 400px;
    gap:8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 200ms ;
}

.NetworkList .NetworkItem .Content.expanded {
    max-height: 150px;
    padding-top: 8px;
}


@keyframes slideUp{
    from {
        max-height: 150px;
        padding-top: 8px;
    }
    to {
        max-height: 0px;
        padding-top: 0px;
    }
}
@keyframes slideDown{
    from {
        max-height: 0px;
        padding-top: 0px;
    }
    to {
        max-height: 150px;
        padding-top: 8px;
    }
}
